.container {
  margin-top: 0.2rem;
  display: flex;
  gap: 1rem;
}
.date_field_container {
  background-color: #05aa99;
  padding: 0.7rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--radius-sm);
  color: white;
}
.date_container {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
}
.date_submit_button {
  border: 1px solid var(--color-accent);
  padding: 0.5rem 0.5rem;
  border-radius: var(--radius-sm);
  font-size: 1rem;
  text-align: center;
  background-color: #fff;
}
.dynamic_container {
  display: flex;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 0.7rem;
  color: black;
  flex-wrap: wrap;
  border-radius: var(--radius-sm);
}
.input_container {
  display: flex;
  flex-direction: column;
}
.dynamic_select {
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-sm);
  font-size: 1rem;
  margin-top: 0.2rem;
}
.reset_button_container {
  display: flex;
  align-items: flex-end;
}
.reset_button {
  border: 1px solid var(--color-accent);
  padding: 0.7rem 1rem;
  border-radius: var(--radius-sm);
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #002b49;
  width: fit-content;
  height: fit-content;
  margin-top: 12px;
}
.reset_button:hover {
  border: 1px solid var(--color-accent);
  padding: 0.7rem 1rem;
  border-radius: var(--radius-sm);
  font-size: 1rem;
  background-color: #05aa99;
  color: white;
  transition: background-color 1s ease;
}
