.container {
  position: absolute;
  /* z-index: 10; */
  padding: 1rem;
  top: 10rem;
  left: 2rem;
  background-color: white;
}

.browse_btn {
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  border: transparent;
  border-radius: var(--radius-sm);
  color: white;
  font-size: var(--font-md);
}
