.container {
  position: absolute;
  /* z-index: 10; */
  padding: 1rem;
  top: 8rem;
  left: 1rem;
  background-color: white;
  border-radius: var(--radius-md);
  min-width: 18rem;
  max-width: 21rem;
}

.layer_container {
  padding: 0.3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.user_layer_container > h2 {
  font-size: small;
  font-weight: 400;
}
