.container {
  position: absolute;
  /* z-index: 10; */
  padding: 0.5rem;
  top: 8rem;
  left: 1rem;
  background-color: white;
  border-radius: var(--radius-md);
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* min-width: 18rem; */
  /* max-width: 18rem; */
}

.layer_container {
  padding: 0.3rem 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow: auto;
}

.user_layer_container > h2 {
  font-size: small;
  font-weight: 400;
}
.noData {
  margin-left: 1.5rem;
  color: grey;
  padding-block: 0.5rem;
}
/* Accordion styles */

.accordion_root {
  border-radius: 6px;
  width: 300px;
}

.accordion_item {
  overflow: hidden;
  margin-top: 1px;
}

.accordion_item:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion_item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordion_item:focus-within {
  position: relative;
  z-index: 1;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.AccordionHeader {
  display: flex;
}

.accordion_trigger {
  background-color: transparent;
  padding: 0 0.6rem;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  background-color: white;
  width: 100%;
}
.accordion_trigger h3 {
  font-weight: normal;
}

.accordion_trigger:hover {
  background-color: rgba(211, 211, 211, 0.205);
}

.accordion_content {
  overflow: hidden;
  font-size: 15px;
}
.accordion_content[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion_content[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion_content_text {
  padding: 15px 20px;
}

.FaAngleDown {
  font-size: 1.3rem;
  color: rgb(0 0 0 / 54%);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion_trigger[data-state='open'] > .FaAngleDown {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
