.loader_modal {
  background-color: transparent;
  border: none;
  outline: none;
}
.loader {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.loader_modal::backdrop {
  background-color: #0d6da866;
}
.loading_text {
  position: absolute;
  color: white;
  font-size: var(--font-md);
}

.round_frame {
  position: absolute;
  animation: rotator 2s infinite linear;
}
.circle {
  stroke-dasharray: 1 104;
  animation: reducer 1600ms infinite linear reverse;
}

@keyframes reducer {
  50% {
    stroke-dasharray: 95 10;
  }
  100% {
    stroke-dasharray: 1 104;
  }
}

@keyframes rotator {
  100% {
    rotate: 360deg;
  }
}
