.container {
  position: absolute;
  z-index: 100;
  bottom: 5rem;
  right: 0;
}
.intro_btn {
  color: white;
  font-size: var(--font-md);
  padding: 0.6rem 0.8rem 0.5rem;
  border-radius: 10rem 0rem 0rem 10rem;
  background-color: var(--color-primary);
}

.intro_btn:focus {
  outline-color: var(--color-primary);
  outline-offset: 3px;
}
