.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  min-width: 15rem;
  transition: 100ms;
  position: relative;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-accent);
  cursor: grab;
}
.container:active {
  cursor: grabbing;
}
.container:hover {
  box-shadow: 0 2px 2px var(--color-accent);
}

.layer_badge {
  font-size: var(--font-xsm);
  padding: 0.1rem 0.3rem;
  background-color: var(--color-primary);
  /* background-color: black; */
  position: absolute;
  height: 104%;
  border-radius: var(--radius-sm) 0rem 0rem var(--radius-sm);
  color: white;
  display: flex;
  align-items: center;
  left: 0rem;
}
.userTile {
  background-color: var(--color-secondary);
  /* background-color: black; */
}

.layer_title_container {
  white-space: noWrap;
  width: 8rem;
  padding: 0.1rem;
  padding-left: 0.5rem;
}
.layer_title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input_container {
  display: flex;
  align-items: center;
  min-height: 1.7rem;
}
.input_container > input {
  padding: 0.2rem 0.3rem;
  max-width: 9rem;
}
.input_container > input,
.input_container > label {
  cursor: pointer;
}
.eye_btn {
  padding-right: 0rem;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: 0.2rem;
}
.btn_container > button {
  padding: 0rem;
  border-radius: var(--radius-sm);
}

.btn_icon_container {
  display: flex;
  align-items: center;
}

.layer_controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.empty_box {
  width: 0.9rem;
}
.color_picker_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color_picker {
  background-color: transparent;
  border: none;
  width: 0rem;
  height: 0rem;
  opacity: 0;
  position: absolute;
}
.color_label {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background-color: red;
  border-radius: 10rem;
  cursor: pointer;
}
