.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.6rem;
  min-width: 15rem;
  transition: 100ms;
  /* border: 1px solid var(--color-accent); */
  /* gap: 1rem; */
  background-color: #f6f6f6;
  /* border-radius: var(--radius-sm); */
  /* box-shadow: 0 1px 0 var(--color-accent); */
}
.container:hover {
  box-shadow: 0 1px 1px var(--color-accent);
  background-color: #f1f1f1;
}

.layer_title_container {
  white-space: noWrap;
  width: 9rem;
}
.layer_title {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
}

.input_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input_container > input {
  padding: 0.3rem 0.5rem;
  max-width: 10rem;
}
.input_container > input,
.input_container > label {
  cursor: pointer;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.btn_container > button {
  padding: 0.2rem;
  border-radius: var(--radius-sm);
}

.btn_icon_container {
  display: flex;
  align-items: center;
}

.layer_controllers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_picker {
  background-color: transparent;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
}

.color_picker::-webkit-color-swatch {
  border: none;
  border-radius: 100rem;
  padding: 0;
}
