.tile_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.soi_img {
  width: 1.5rem;
  height: 1.5rem;
}
.tile_content {
  flex: 1;
  border: 1px solid #aaa;
  border-radius: var(--radius-sm);
  overflow: hidden;
  display: flex;
}
.tile_description {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(calc(100% - 10rem), 1fr) min-content;
  gap: 0.5rem;
  row-gap: 0.4rem;
  align-items: center;
  max-width: calc(100% - 1rem);
  padding: 0.8rem;
}
.tile_title {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: var(--font-md);
}
@keyframes expand {
  0% {
    scale: 1 0;
  }
  100% {
    scale: 1 1;
  }
}
.extra_button_container {
  grid-column: span 2;
  gap: 1rem;
  border-top: 1px solid var(--color-accent);
  padding-top: 0.4rem;
  display: none;
  transform-origin: top;
  animation: expand 100ms forwards;
}
.extra_button_container[data-visible='true'] {
  display: flex;
}
.extra_button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.4rem;
  border-radius: var(--radius-sm);
}
.badge {
  background-color: #009e5e;
  color: #fff;
  display: flex;
  gap: 0.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
}
.badge_private {
  background-color: #c77d00;
}
.add_button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.3rem;
}

.icon_wrapper {
  color: var(--color-primary);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.icon_container {
  display: flex;
}
.warn_text {
  position: absolute;
  bottom: 0.1rem;
  left: 1rem;
  font-size: var(--font-xsm);
  color: red;
  width: calc(100% - 12rem);
}
.warn_text > a {
  color: inherit;
}
