.container {
  position: absolute;
  background-color: rgba(237, 237, 237, 0.7);
  border-bottom: 0.5px solid var(--color-accent);
  display: flex;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(1px);
}

.logo_img {
  width: 10rem;
}

.tools_container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  height: 100%;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  border-radius: var(--radius-md);
  box-shadow: 0px 4px 4px rgba(155, 155, 155, 0.5);
}

.tools_divider_line {
  /* width: 2px; */
  height: 1.4rem;
  background-image: linear-gradient(#9fd181, #e48a52);
}

.tools_container button {
  border-radius: var(--radius-sm);
  /* padding-inline: 0.2rem; */
}

.tools_container > button:focus-visible {
  outline-color: var(--color-primary);
}

.tools_container > button[aria-selected='true'] {
  background-color: var(--color-accent);
}

.tools_container > hr {
  width: 3px;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--color-primary),
    var(--color-secondary)
  );
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.tools_container button:hover {
  background-color: var(--color-accent);
}

.profile_container {
  display: flex;
  align-items: center;
}

.profile_container > h3 {
  font-size: var(--font-md);
}

.profile_icon {
  border-radius: 100rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-secondary);
  color: white;
  line-height: 1.3rem;
}
