.container {
  position: absolute;
  background-color: rgba(237, 237, 237, 0.7);
  border-bottom: 0.5px solid var(--color-accent);
  display: flex;
  padding: 0.3rem 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(1px);
}

.logo_img {
  width: 10rem;
}

.tools_container {
  position: absolute;
  translate: calc(50vw - 54%);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  border-radius: var(--radius-md);
  box-shadow: 0px 4px 4px rgba(155, 155, 155, 0.5);
}

.tools_divider_line {
  /* width: 2px; */
  height: 1.4rem;
  background-image: linear-gradient(#9fd181, #e48a52);
}

.tools_container button {
  border-radius: var(--radius-sm);
  /* padding-inline: 0.2rem; */
}

.tools_container button:focus-visible {
  outline-color: var(--color-primary);
}

.tools_container > button[aria-selected='true'] {
  background-color: var(--color-accent);
}

.tools_container > hr {
  width: 3px;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--color-primary),
    var(--color-secondary)
  );
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.tools_container button:hover {
  background-color: var(--color-accent);
}

.profile_container {
  display: flex;
  align-items: center;
}

.profile_icon {
  border-radius: 100rem;
  padding: 0.6rem 0.45rem 0.4rem;
  background-color: var(--color-primary);
  color: white;
  font-size: var(--font-md);
  transition: border-radius 300ms linear;
}
.profile_icon:focus {
  outline-color: var(--color-primary);
  outline-offset: 3px;
}
.profile_icon[data-state='open'] {
  transition: 0ms;
  border-radius: 100rem 100rem 0rem 0rem;
}
.popover_content {
  background-color: white;
  border-radius: var(--radius-sm);
  border-top-right-radius: 0rem;
  border: 2px solid var(--color-primary);
  overflow: hidden;
  translate: -1rem;
  min-width: 13rem;
}
.user_info {
  padding: 1rem;
}
.user_info > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.user_info > div:first-child {
  margin-bottom: 0.2rem;
}
.profile_name {
  font-weight: 600;
}
.email {
  font-size: var(--font-sm);
}
.signout_btn {
  background-color: var(--color-primary);
  padding: 1rem;
  width: 100%;
  text-align: start;
  color: white;
  font-size: var(--font-md);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
