.container {
  padding: 1rem;
}
.container {
  display: flex;
  gap: 0.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid #48484859;
  align-items: center;
}
.container > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  /* border: 1px solid black; */
  border-radius: var(--radius-sm);
  padding: 0.5rem 1rem;
}
.selected_tab {
  background-color: #002b49;
  color: white;
  padding: 0.5rem 1rem;
}
.tab_box {
  border: 1px solid grey;
  background-color: rgb(242, 242, 242);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
